.nav-bar{
  background-color: slategrey;
}

.link-icon {
  margin-auto;
}

.profile-img {
  float: left;
  margin:10px;
  border-radius: 50%;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size:18px;
}

nav h3 {
  color:white;
}

a {
  color:white;
}

div .col-xs-4 {
  text-align: center;
  font-size:18px;
  margin-bottom:15px;
}

#titlePage {
  background-size: cover;
  background-image: url(img/waterfall.jpg);
  opacity: 0.4;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#bodyPage {
  background-size: cover;
  background-image: url(img/body-background.jpg);
  opacity: 1;
  overflow:hidden;
}
